<li>
  <slot />
</li>

<style>
  .feature-detail-list {
    padding-inline-start: 1.5rem;
  }
  @media (min-width: 50rem) {
    .feature-detail-list {
      padding-inline-start: revert;
    }
  }
</style>
